// Place all the styles related to the archs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.container_pt{
  padding-top: 8vh;
  min-height: 85vh;
}

.textarea{
  height: 120px;
}

.top-image{
  background-image:url('top.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  height: 450px;
  // padding-top: 62.5%;
}
.delete_button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  // padding: 0px;
  // font-size: 15px;
  // text-decoration: none;
  // color: rgb(0, 140, 255);
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px 10%;
}


.card{
  display: inline-block;
  text-align: left;
  // padding-bottom: 16px;
}

.card-img-top{
  height: 250px;
  object-fit: contain;
}

// .card-body{
  //   position: relative;
  // 	padding-bottom: 3rem;
  // }
  
  .card-title{
    height: 40px;
  }

  .ellipsis{
    width: 250px; /* 省略せずに表示するサイズを指定 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  // .card-body-footer{
    //   position: absolute;
    // 	bottom: 0;
    // }
    
    .container{
    margin-top: 56px;
  }

  .fa-circle-plus{
    position:fixed;
    right:7%;
    bottom:7%;
  }
  
  .textarea{
    height: 150px;
  }

  .must_form{
    color: red;
  }
  
  .fb{
    font-weight: bold;
    font-size:50px ;
  }
  .fb-comment{
    font-weight: 700;
  }
  
  .comments_container{
    height: 150px;
    overflow-y: scroll;
    margin-bottom: 30px;
    border: 1px #c0c0c0 solid;
    color: #030303;
    white-space: nowrap;
    max-height: 150px;
  }

  .comments_item{
    padding: 10px;
    border-bottom: 1px #c0c0c0 solid;
  }
  .comments_item:last-child{
    border-bottom:0;
  }

  .comments_container::-webkit-scrollbar {
    height: 10px; /* スクロールバーの高さ */
  }
  
  .comments_container::-webkit-scrollbar-thumb {
    background: #aaa; /* ツマミの色 */
  }
  
  .comments_container::-webkit-scrollbar-track {
    background: #ddd; /* トラックの色 */
  }

  
  .fz-10{
    font-size: 15px;
    margin-right: 5px;
  }
  
  .flex-box{
    display:flex;
    flex-direction:row;
    // flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:stretch;
    align-content:stretch;
    
    /*表示用*/
    background-color:#ccc;
    width:100%;
    min-height:300px;
  }
  
  .title_mb{
    padding: 10px;
    width: 100%;
  }
  
  .show-body{
    padding-top: 20px;
    min-height: 5vh;
  }
  
.edit_link{
  margin-left: 5px;
  color: gray;
  font-size: 20px;
}

.show-image{
  width: 100%;
  // height: 60vh;
  object-fit: contain;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom:solid gray 1px;
  border-top:solid gray 1px;
  background-color: #f8f9fa;
}
.show-image:hover{
  width: 100%;
  // height: 60vh;
  object-fit: contain;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom:solid gray 1px;
  border-top:solid gray 1px;
  background-color: #f8f9fa;
  cursor: zoom-in;
}

.embedded_link{
  aspect-ratio: 16 / 9;
  width: 80%;
  height: 80%;
  border: none;
}

.red-border{
  border: 0.5rem solid red;
}

.form_explain{
  font-size: 12px;
  color: red;
}

.search_width{
  width: 50%;
}

.search_form_container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.like_card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-height: 200px;
}

.scroll_box{
  margin: 25px 10%;
  border: 1px #c0c0c0 solid;
  color: #030303;
  overflow-x: scroll;
  min-height: 200px;
}

div.card.like_card{
  width: 16rem;
  margin: 10px;
  flex-shrink: 0;
}

.fs-15{
  font-size: 20px;
  color: red;
}

// .scroll_box{
//   margin-bottom: 1.5em;
//   background-color: #ffffff;
//   border: 1px #c0c0c0 solid;
//   color: #030303;
//   max-width: 80%;
//   overflow-x: auto;
//   white-space: nowrap;
// }

.scroll_box::-webkit-scrollbar {
  height: 10px; /* スクロールバーの高さ */
}

.scroll_box::-webkit-scrollbar-thumb {
  background: #aaa; /* ツマミの色 */
}

.scroll_box::-webkit-scrollbar-track {
  background: #ddd; /* トラックの色 */
}

.no_favorite{
  width: 100%;
  display: flex;
  justify-content: center; /* 横方向（左右）中央揃え */
  align-items: center; /* 縦方向（上下）中央揃え */
  min-height: 200px;
}

.likecard-form{
  margin-bottom: 15px;
}

// .like_form-group{
//   width: 100%;
// }

.like_form{
  width: 16rem;
  // width: 33%;
  margin: 10px;
  flex-shrink: 0;
}
.like_form::placeholder {
  color: rgba(117, 117, 117, 0.8);
}

// .like_form-group {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
  
// }

.vote_form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.like_card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-height: 200px;
}

// .like_form-container{
//   // display: flex;
//   // flex-direction: row;
//   // flex-wrap: nowrap;
//   // white-space: nowrap;
//   // min-height: 200px;
//   display: flex;
//   justify-content: space-between;
// }

// .vote_container{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

#totalDisplay{
  position:fixed;
  font-size: 15px;
  right:3%;
  bottom:7%;
}
.under-right{
  position:fixed;
  right:3%;
  bottom:2.5%;
}

.form_scroll{
  width: 100%;
  height: 30vh;
  overflow: auto;
  padding: 0px 15px;
  border: 1px #c0c0c0 solid;
  background-color: #F8F9FA;
}

.like-btn {
  // width: 25px;
  font-size: 20px;
  color: #808080; 
  }
 
 .unlike-btn {
  // width: 25px;
  font-size: 20px;
  color: #e54747;
  }
  .btn.btn-sm.btn-outline-secondary{
    // font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
  }

.zasekihyo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:25px 10%;
}

.zasekihyo-item{
  width: 30%;
  padding: 5px;
  align-items: center;
  border: 1px black solid;
}

.vote-link{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.vote-btn{
  background-color: green;
  padding: 15px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.gallery-container{
  width: 100%;
  margin-top: 40px;
}

.gallery-name{
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
}

.gallery-space{
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.room-container{
margin-top: 15px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.room-space{
  width: 40%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
}